body {
	background-color: rgba(42, 42, 46, 0.9);
}

.container {
	max-width: 600px;
	color: rgba(255, 235, 210, 1);
}

.btn {
	background-color: rgba(67, 217, 190, 1);
	color: rgba(255, 235, 210, 1);
	outline: none !important;
	box-shadow: none !important;
}

.btn:focus {
	outline: none !important;
}

.username {
	color: rgba(42, 42, 46, 1);
	font-weight: bold;
}

.message {
	color: rgba(42, 42, 46, 1);
}

.time {
	font-size: 0.7em;
	color: rgba(42, 42, 46, 1);
}

.update-mssg {
	text-align: center;
	margin: 20px auto;
}
